.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  font-size: 1.4rem;
  line-height: 18px;
  color: var(--grey-normal);
}

.helperText {
  margin-top: 3px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 14px;
  color: var(--grey-light);
}
