.alert {
  display: flex;
  margin-top: 26px;
  padding: 12px 12px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 18px;
}

.alert.error {
  background: var(--alert-error-bg);
  color: var(--alert-error-content);
}

.alert.warning {
  background: var(--alert-warning-bg);
  color: var(--alert-warning-content);
}

.icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 8px;
}
